<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="RWR.Windows.Components.DSBO.Properties.Settings.RWR_SettingsConnectionString"
			 connectionString="Data Source=localhost;Initial Catalog=RWR.Settings;Persist Security Info=True;User ID=RWR;Password=iforget"
			 providerName="System.Data.SqlClient" />
		<!--<add name="RWR.Windows.Components.DSBO.Properties.Settings.RWR_SettingsConnectionString"
			 connectionString="Data Source=.\sqlexpress;Initial Catalog=RWR.Settings;Persist Security Info=True;User ID=RWR;Password=iforget"
			 providerName="System.Data.SqlClient" />-->
	</connectionStrings>
</configuration>