<?xml version="1.0"?>
<configuration>

	<configSections>
		<!-- BEG set the WebServicesURI's during runtime -->
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="RWR.Windows.Components.DSBO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<!-- END set the WebServicesURI's during runtime -->
	</configSections>

	<!-- BEG set the WebServicesURI's during runtime -->
	<webServiceSettings>
		<RWR.Windows.Components.DSBO.Properties.Settings>
			<!-- setting name MUST BE THE SAME AS THE DATASET AppSetting -->
			<setting name="RWR_Windows_Components_DSBO_SettingsService_SettingsSV" serializeAs="String">
				<!--<value>http://localhost/RWR.Web.Services/SettingsSV.asmx</value>-->
				<value>http://localhost:82/RWR.Web.Services/SettingsASMX.asmx</value>
			</setting>
		</RWR.Windows.Components.DSBO.Properties.Settings>
	</webServiceSettings>
	<!-- END set the WebServicesURI's during runtime -->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
